<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Dell\Desktop\todo-app-windows-form\ToDoApp\ToDoApp\Database\ToDoApp.mdf;Integrated Security=True;Connect Timeout=30"/>
	</appSettings>
</configuration>